# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.opendb
*.db-wal
*.lock
*.db
*.db-shm
*.ipch
*.vcxproj
*.recipe
*.exp
*.ipdb
*.pdb
*.log
*.txt
*.lastbuildstate
*.tlog
*.iobj
Alpha Fixes/.vs/AlphaFixes/v17/.suo
*.json
*.idb
*.command
*.ilk
*.ifc
*.bin
